header {
    padding: 3px 15px;
}
section, footer, main {
    padding: 15px 15px;
}
.ad-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.ad-card{
    width: 50%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px lightgray;
    padding: 10px;
    text-align: center;
}
.ad-card__time{
    color: gray;
    font-size: 15px;
}
.ad-card__title{
    font-weight: 600;
    color: #003B67;
    font-size: 20px;
}
.ad__link{
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    color: #1D79BE;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    display:inline-block;
    position: relative;
    animation: fadein .5s ease-in-out forwards;
    outline: none;
}
.ad__link::before{
    color: #1D79BE;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right center;
    transition:transform .3s ease-in-out;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.ad__link:hover::before, .ad__link:focus::before{
    transform-origin: left center;
    transform: scale(1);
}
.page__title{
    color: #44668E;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 0;
}
.page__find{
    outline: none;
    border: none;
    font-size: 25px;
    width: 20%;
    padding: 7px 0;
    text-align: center;
    border-bottom: 1px solid black;
}
@media (min-width: 575.98px){
    .page__title{
        font-size: 25px;
        margin: 0;
    }
    .page__find{
        width: 50%;
        font-size: 18px;
    }
    header {
        padding: 3px calc(50vw - 270px);
    }
    section, footer, main {
        padding: 15px calc(50vw - 270px);
    }
    .ad-card{
        width: 90%;
    }
}
@media (max-width: 575.98px){
    .ad-card{
        width: 90%;
    }
}
@media (min-width: 767.98px){
    .page__title{
        font-size: 20px;
    }
    .page__find{
        width: 20%;
        font-size: 18px;
    }
    header {
        padding: 3px calc(50vw - 360px);
    }
    section, footer, main {
        padding: 15px calc(50vw - 360px);
    }
}

@media (min-width: 991.98px) {
    header {
        padding: 3px calc(50vw - 480px);
    }
    section, footer, main {
        padding: 15px calc(50vw - 480px);
    }
}

@media (min-width: 1199.98px){
    header {
        padding: 3px calc(50vw - 590px);
    }
    section, footer, main {
        padding: 15px calc(50vw - 590px);
    }
}