footer{
    color: #CCCCCC;
    background: linear-gradient(#1D79BE, #003B67);
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer__first-element{
    display: block;
    align-items: start;
}
.footer__second-element{
    display: flex;
}
.footer__third-element{
    color: white;
    display:block;
    text-align: center;
}
@media (max-width: 768px){
    .footer__first-element,.footer__second-element,.footer__third-element{
        font-size: 10px;
    }
}
@media (max-width: 576px){
    footer{
        padding: 5px 15px!important;
    }
    .footer__first-element{
        font-size: 13px;
    }
    .footer__second-element,.footer__third-element{
        display: none;
    }
}